torch>=1.9.0
torchvision
tqdm
flask
pillow
flask-wtf
bootstrap-flask

## embeddings
# python3.12 -m pip install git+https://github.com/openai/CLIP.git

## OCR pick one of these, or download and compile https://github.com/robertknight/ocrs and add `export PATH="$HOME/.cargo/bin:$PATH"` to bashrc. (recommended)
# doctr
# pytesseract

## imagehash
# imagehash

## facial recognition
## first run: python3.12 -m pip install --upgrade setuptools
# face_recognition # Requires cmake (sudo apt install cmake). Also not that building the dlib wheel takes a few minutes
# python3.12 -m pip install git+https://github.com/ageitgey/face_recognition_models