{% from 'bootstrap5/form.html' import render_form_row %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Search</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHJlY3Qgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSJibGFjayIvPjwvc3ZnPg==">
    </head>
    <body>
        <div class="container">
            <h3><a href="/" class="a">Image Search</a></h3>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form id="main_form" action="/" method="post" novalidate=True enctype="multipart/form-data">
                {{ form.csrf_token() }}

                {% if 'file' in form_fields %}
                    {{ render_form_row([form.file]) }}
                    {{ render_form_row([form.file_types]) }}

                    <div class="row">
                        {% if 'hash_average' in form_fields %}
                            <div class="col">
                                <div class="mb-3 form-check">
                                    {{ form.search_average_hash.label(class_='form-check-label', for='search_average_hash') }}
                                    {{ form.search_average_hash(class_='form-check-input') }}
                                </div>
                            </div>
                        {% endif %}
                        {% if 'clip_file' in form_fields %}
                            <div class="col">
                                <div class="mb-3 form-check">
                                    {{ form.clip_file.label(class_='form-check-label', for='clip_file') }}
                                    {{ form.clip_file(class_='form-check-input') }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if 'search_colorhash' in form_fields or 'search_crop_resistant_hash' in form_fields %}
                        <div class="row">
                            {% if 'search_colorhash' in form_fields %}
                                <div class="col">
                                    <div class="mb-3 form-check">
                                        {{ form.search_colorhash.label(class_='form-check-label', for='search_colorhash') }}
                                        {{ form.search_colorhash(class_='form-check-input') }}
                                    </div>
                                </div>
                            {% endif %}
                            {% if 'search_crop_resistant_hash' in form_fields %}
                                <div class="col">
                                    <div class="mb-3 form-check">
                                        {{ form.search_crop_resistant_hash.label(class_='form-check-label', for='search_crop_resistant_hash') }}
                                        {{ form.search_crop_resistant_hash(class_='form-check-input') }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}

                {% if 'clip_text' in form_fields %}
                    {{ render_form_row([form.clip_text]) }}
                {% endif %}

                {% if 'exif_text' in form_fields %}
                    {{ render_form_row([form.exif_text]) }}
                {% endif %}

                {% if 'ocr_text' in form_fields %}
                    {{ render_form_row([form.ocr_text]) }}
                {% endif %}

                {% if 'min_face_count' in form_fields or 'max_face_count' in form_fields %}
                    {{ render_form_row([form.min_face_count, form.max_face_count]) }}
                {% endif %}
                {% if 'noise' in form_fields %}
                    <div class="col">
                        <div class="mb-3 form-check">
                            {{ form.noise.label(class_='form-check-label', for='noise') }}
                            <span class="form-control">{{ form.noise() }}</span>
                        </div>
                    </div>
                {% endif %}

                {{ render_form_row([form.search], button_style="btn btn-md btn-primary mt-2") }}
            </form>

            {% if results %}
                {% if total_records and time_elapsed %}
                    <p class="inline_block container_pad">
                        <button id="info_btn" class="btn-primary">Info</button>
                        <div id="site_info" class="hidden">
                            <ul>
                                <li>Combined Score - Combines hamming distances from hashes, and CLIP scores. The range is 0-100. Higher is better.</li>
                                <li>CLIP Scores - The range is 0-135+. Higher is better. 30+ indicates an ok match.</li>
                                <li>Hash Values - Hamming distances. The range is 0-30+. Lower is better. 0 indicates an identical image.</li>
                            </ul>
                        </div>
                        <small>
                            Searched {{ total_records }} images in {{ time_elapsed }} seconds.
                            Found {{ results|length }} results.
                        </small>
                    </p>
                {% endif %}
                <div class="gallery">
                    {% for row in results %}
                        <div class="gallery_item">
                            <img src="{{ url_for('serve', filename=row.path) }}" class="img-fluid" alt="matching_image">
                            <div class="metadata site_info hidden"><b>File</b> {{ row.path|basename }}</div>
                            
                            {% if row.model %}<div class="metadata site_info hidden"><b>Device</b> {{ row.model }}</div>{% endif %}
                            {% if row.ImageDescription %}<div class="metadata site_info hidden"><b>ImageDescription</b> {{ row.ImageDescription }}</div>{% endif %}
                            {% if row.UserComment %}<div class="metadata site_info hidden"><b>UserComment</b> {{ row.UserComment }}</div>{% endif %}
                            {% if row.ocr_text %}<div class="metadata site_info hidden"><b>OCR</b> {{ row.ocr_text }}</div>{% endif %}

                            {% if row.metrics %}
                                {% for metric in row.metrics %}
                                    {% if row.metrics[metric] %}
                                        <div class="metadata site_info hidden"><b>{{ metric }}: </b>{{ row.metrics[metric] }}</div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if row.combined_score %}
                                <div class="metadata site_info hidden"><b>CombinedScore: </b>{{ row.combined_score }}</div>
                            {% endif %}
                            {% if row.noise %}<div class="metadata site_info hidden"><b>Noise</b> {{ row.noise }}</div>{% endif %}

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <script>
            document.getElementById('info_btn').addEventListener('click', function() {
                document.querySelectorAll('.site_info').forEach(e => {
                    e.classList.toggle('hidden');
                });
            });
        </script>
    </body>
</html>
